@model Book
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Name</title>
</head>
<body>
    <div style="background-color: black; width: 100%; height: 660px;">
        <embed style="width: 100%; height: 100%;" src="@Model.Link
               " type="application/pdf">
    </div>
</body>
</html>


